@import './inc/variables';

@import './inc/mixins';

@import './inc/default';

.shapes {
	position: fixed;
	width: 500px;
	transform: rotateZ(-45deg);
	height: 100px;
	right: -200px;
	z-index: -1;
	bottom: 0;
	display: flex;
	gap: 1rem;
	flex-direction: column;

	.shape {
		width: 100%;
		height: 100%;
		background-color: $secondaryColor + a;
	}

	@include maxMd {
		display: none;
	}
}

table {
	background-color: white;
}

.content {
	@include maxSm {
		padding: 0 !important;
	}
}

aside {
	position: fixed;
	z-index: 10;
	width: 250px;
	height: 100vh;
	background-color: $secondaryColor;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 0.25rem;

	@include maxMd {
		width: 80px;
	}

	.logo {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		height: 100px;

		background-image: url('../images/logo.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		filter: brightness(0) invert(1);

		@include maxMd {
			padding: 1rem 0;
			background-image: url('../images/mini-logo.png');
		}
	}

	.bottom {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1;

		nav {
			padding: 2rem;
			padding-right: 0;

			@include maxMd {
				padding-left: 0.25rem;
			}

			ul {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				li {
					color: white;
					display: flex;
					align-items: center;
					gap: 1rem;
					padding: 0.5rem 1rem;
					transition: $mainTransition;
					border-radius: 1rem 0 0 1rem;
					border-right: 5px solid transparent;
					position: relative;
					overflow: hidden;
					z-index: 1;

					@include maxMd {
						gap: 3rem;
					}

					&::before {
						content: '';
						position: absolute;
						background-color: white;
						width: 0;
						height: 100%;
						top: 0;
						left: 0;
						transition: $mainTransition;
						z-index: -1;
					}

					&:hover {
						color: $secondaryColor;
					}

					&:hover::before {
						width: 100%;
					}

					&.active {
						background-color: white;
						border-right: 5px solid $secondaryColor;
						color: $secondaryColor;
					}
				}
			}
		}

		.logout {
			padding: 2rem;
			padding-right: 0;
			display: flex;
			font-display: column;

			@include maxMd {
				padding-left: 1rem;
			}

			form {
				width: 100%;

				button {
					color: white;
					padding: 0.5rem 1rem;
					transition: $mainTransition;
					border-radius: 1rem 0 0 1rem;
					border-right: 5px solid transparent;
					position: relative;
					overflow: hidden;
					z-index: 1;
					width: 100%;
					display: flex;
					align-items: center;
					gap: 1rem;

					&::before {
						content: '';
						position: absolute;
						background-color: white;
						width: 0;
						height: 100%;
						top: 0;
						left: 0;
						transition: $mainTransition;
						z-index: -1;
					}

					&:hover {
						color: $secondaryColor;
					}

					&:hover::before {
						width: 100%;
					}
				}
			}
		}
	}
}

main {
	position: absolute;
	right: 0;
	min-height: 100vh;
	width: calc(100% - 250px);
	padding: 1rem;
	overflow: auto;

	@include maxMd {
		width: calc(100% - 80px);
	}

	.page-title {
		color: $secondaryColor;
		padding: 1rem;

		@include maxSm {
			padding: 0;
			padding-bottom: 1rem;
		}
	}
}
