@import './inc/variables';

@import './inc/mixins';

@import './inc/default';

main {
	.container {
		display: flex;

		.left {
			height: 100vh;
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 4rem;

			@include maxSm {
				display: none;
			}

			img {
				max-width: 300px;
			}
		}

		.right {
			height: 100vh;
			background-color: $secondaryColor;
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			background-image: url('../images/admin-bg.jpg');
			background-size: cover;
			background-position: 0 0;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: ($secondaryColor + a);
			}

			form {
				border: 2px solid $mainColor;
				padding: 2rem;
				padding-top: 3rem;
				display: flex;
				flex-direction: column;
				gap: 1rem;
				max-width: 400px;
				width: 100%;
				background-color: white;
				position: relative;
				// border: 2px solid $mainColor;

				@include maxSm {
					max-width: 90%;
				}

				legend {
					position: absolute;
					top: 0;
					left: 50%;
					transform: translate(-50%, -50%);
					border: 2px solid $mainColor;
					padding: 0.5rem 2rem;
					background-color: white;
					font-size: 1.5rem;
				}

				.input-box {
					position: relative;

					textarea {
						resize: none;
						min-height: 100px;
					}

					input,
					textarea {
						background-color: #fffa;
						padding: 1rem;
						border: 2px solid $mainColor;
						outline: none;
						width: 100%;
						font-size: 1rem;

						&:focus + .placeholder {
							top: 0;
							background-color: white;
							border: 2px solid black;
							padding: 0.125rem 0.5rem;
						}
					}

					select {
						background-color: #fffa;
						padding: 1rem;
						border: 2px solid $mainColor;
						outline: none;
						width: 100%;
						font-size: 1rem;

						& + .placeholder {
							position: absolute;
							left: 1rem;
							font-size: 0.8rem;
							transform: translateY(-50%);
							pointer-events: none;
							top: 0;
							background-color: white;
							border: 2px solid $mainColor;
							padding: 0.125rem 0.5rem;
						}
					}

					input:valid + .placeholder {
						opacity: 0;
					}

					.placeholder {
						position: absolute;
						top: 50%;
						left: 1rem;
						font-size: 0.8rem;
						transform: translateY(-50%);
						border: 2px solid transparent;
						transition: $mainTransition;
						pointer-events: none;
					}
				}

				.box {
					display: flex;
					gap: 1rem;

					button {
						flex: 1;
					}

					button,
					a {
						background-color: #fffa;
						padding: 1rem;
						border: 2px solid $mainColor;
						transition: $mainTransition;
						outline: none;
						position: relative;
						z-index: 1;
						overflow: hidden;
						cursor: pointer;
						display: flex;
						align-items: center;
						justify-content: space-between;

						&::before {
							content: '';
							position: absolute;
							top: 0;
							left: -100%;
							width: 100%;
							height: 100%;
							background-color: $secondaryColor;
							z-index: -1;
							transition: $mainTransition;
						}

						&:hover::before {
							left: 0;
						}

						&:hover {
							$size: 5px;
							box-shadow: $size $size black;
							transform: translate(-$size, -$size);
						}
					}
				}
			}
		}
	}
}
