// import variables
@use 'inc/variables' as *;

// import mixins
@import 'inc/mixins';

// import container
@import 'inc/container';

// import default rules
@import 'inc/default';

// import header
@import 'inc/header';

// import landing
@import 'inc/landing';

// import produits
@import 'inc/produits';

// import contact
@import 'inc/contact';

// import footer
@import 'inc/footer';

section {
	padding-block: 100px;
}

.section-title {
	border: 2px solid $mainColor;
	padding: 0.5rem 2rem;
	position: relative;
	width: fit-content;
	margin-inline: auto;
	z-index: 1;
	text-transform: uppercase;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 30px;
		height: 30px;
		background-color: $secondaryColor;
		z-index: -1;
		transition: $mainTransition;
	}

	&::before {
		left: -30%;
	}

	&::after {
		right: -30%;
	}

	&:hover::before {
		left: 0;
		width: 55%;
		height: 100%;
	}

	&:hover::after {
		right: 0;
		width: 50%;
		height: 100%;
	}
}

.top-btn {
	position: fixed;
	right: -100px;
	bottom: 0;
	backdrop-filter: blur(0.25rem);
	background-color: #fffa;
	border: 2px solid $mainColor;
	padding: 1rem;
	z-index: 1000;
	transition: $mainTransition;
	cursor: pointer;

	@include maxSm {
		padding: 0.5rem;

		&:hover {
			padding-right: 0.5rem !important;
		}
	}

	&.active {
		right: 0;
	}

	&:hover {
		padding-right: 2rem;
	}

	i {
		transform: rotateY(180deg);
	}
}
