// import variables
@use 'inc/variables' as *;

// import mixins
@import 'inc/mixins';

// import container
@import 'inc/container';

// import default rules
@import 'inc/default';

// import header
@import 'inc/header';

// import landing
@import 'inc/landing';

// import presentation
@import 'inc/presentation';

// import produits
@import 'inc/produits';

// import partenaires
@import 'inc/partenaires';

// import contact
@import 'inc/contact';

// import footer
@import 'inc/footer';

@import 'login';

@import 'inc/components';

section {
	padding-block: 100px;
}
