@import '../inc/variables';

@import '../inc/mixins';

@import '../inc/default';

.content {
	padding: 1rem;
	padding-top: 2rem;
	padding-bottom: 0;

	@include maxSm {
		padding-top: 1rem;
	}

	.boxes {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 1rem;

		@include maxSm {
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		}

		.box {
			border: 2px solid $secondaryColor;
			padding: 2rem 1rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 2rem;

			@include maxSm {
				gap: 1rem;
			}

			h3 {
				color: $secondaryColor;
			}

			span {
				color: #333;
			}
		}
	}
}
