@import '../inc/variables';

@import '../inc/mixins';

@import '../inc/default';

.content {
	display: flex;
	flex-direction: column;
	padding: 1rem;

	.top {
		display: flex;
		justify-content: end;

		.input-box {
			position: relative;

			input {
				background-color: #fffa;
				padding: 1rem;
				border: 2px solid $secondaryColor;
				outline: none;
				width: 100%;
				font-size: 1rem;

				&:focus + .placeholder {
					top: 0;
					background-color: white;
					border: 2px solid $secondaryColor;
					padding: 0.125rem 0.5rem;
				}
			}

			input:valid + .placeholder {
				opacity: 0;
			}

			.placeholder {
				position: absolute;
				top: 50%;
				left: 1rem;
				font-size: 0.8rem;
				transform: translateY(-50%);
				border: 2px solid transparent;
				transition: $mainTransition;
				pointer-events: none;
			}
		}
	}

	.bottom {
		position: relative;

		.tab-content {
			position: absolute;
			padding-top: 2rem;
			display: none;
			width: 100%;

			&.active {
				display: unset;
			}

			table {
				width: 100%;
				border-collapse: collapse;

				thead {
					background-color: $secondaryColor + a;

					th {
						border: 2px solid $secondaryColor;
						padding: 0.5rem 1rem;

						&:nth-child(2) {
							width: 100%;
						}
					}
				}

				tr {
					border: 2px solid $secondaryColor;

					&:nth-child(even) {
						background-color: $secondaryColor + a;
					}

					td {
						border: 2px solid $secondaryColor;
						padding: 0.5rem 1rem;

						&:nth-child(3) {
							font-size: 0.8rem;
							width: 0;
						}

						span:not(:last-of-type) {
							display: block;
							margin-bottom: 1rem;
						}

						button {
							padding: 0.5rem;
							cursor: pointer;
						}

						.edit {
							color: green;
						}

						.delete {
							color: red;
						}
					}
				}
			}
		}
	}
}
