@import '../inc/variables';

@import '../inc/mixins';

@import '../inc/default';

.content {
	display: flex;
	flex-direction: column;
	padding: 1rem;

	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.tabs {
			display: flex;
			align-items: center;
			border-bottom: 2px solid $secondaryColor;

			.tab {
				padding: 1rem 2rem;
				cursor: pointer;
				border: 2px solid $secondaryColor;
				border-bottom: none;
				transition: $mainTransition;
				position: relative;
				z-index: 1;
				overflow: hidden;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 0;
					height: 100%;
					background-color: $secondaryColor + a;
					z-index: -1;
					transition: $mainTransition;
				}

				&:hover::before {
					width: 100%;
				}

				&:hover {
					color: white;
				}

				&.active {
					background-color: $secondaryColor;
					color: white;
				}
			}
		}

		form {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			max-width: 400px;
			width: 100%;
			// border: 2px solid $mainColor;

			.input-box {
				position: relative;

				input {
					background-color: #fffa;
					padding: 1rem;
					border: 2px solid $secondaryColor;
					outline: none;
					width: 100%;
					font-size: 1rem;

					&:focus + .placeholder {
						top: 0;
						background-color: white;
						border: 2px solid $secondaryColor;
						padding: 0.125rem 0.5rem;
					}
				}

				input:valid + .placeholder {
					opacity: 0;
				}

				.placeholder {
					position: absolute;
					top: 50%;
					left: 1rem;
					font-size: 0.8rem;
					transform: translateY(-50%);
					border: 2px solid transparent;
					transition: $mainTransition;
					pointer-events: none;
				}
			}

			button {
				background-color: #fffa;
				padding: 1rem;
				border: 2px solid $secondaryColor;
				transition: $mainTransition;
				outline: none;
				position: relative;
				z-index: 1;
				overflow: hidden;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: space-between;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: -100%;
					width: 100%;
					height: 100%;
					background-color: $secondaryColor;
					z-index: -1;
					transition: $mainTransition;
				}

				&:hover::before,
				&:focus::before {
					left: 0;
				}

				&:hover,
				&:focus {
					$size: 5px;
					box-shadow: $size $size black;
					transform: translate(-$size, -$size);
					border-color: $mainColor;
				}
			}
		}
	}

	.bottom {
		position: relative;

		.tab-content {
			position: absolute;
			padding-top: 2rem;
			display: none;
			width: 100%;

			&.active {
				display: unset;
			}

			table {
				width: 100%;
				border-collapse: collapse;

				tr {
					border: 2px solid $secondaryColor;

					&:nth-child(odd) {
						background-color: $secondaryColor + a;
					}

					th {
						border: 2px solid $secondaryColor;
						padding: 0.5rem 1rem;

						&:nth-child(2) {
							width: 100%;
						}
					}

					td {
						border: 2px solid $secondaryColor;
						padding: 0.5rem 1rem;

						img {
							width: 100px;
						}

						button {
							padding: 0.5rem;
							cursor: pointer;
						}

						.edit {
							color: green;
						}

						.delete {
							color: red;
						}
					}
				}
			}

			form {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				max-width: 400px;
				width: 100%;
				// border: 2px solid $mainColor;

				.input-box {
					position: relative;

					input {
						background-color: #fffa;
						padding: 1rem;
						border: 2px solid $secondaryColor;
						outline: none;
						width: 100%;
						font-size: 1rem;

						&:focus + .placeholder {
							top: 0;
							background-color: white;
							border: 2px solid $secondaryColor;
							padding: 0.125rem 0.5rem;
						}
					}

					input:required:valid + .placeholder {
						opacity: 0;
					}

					.placeholder {
						position: absolute;
						top: 50%;
						left: 1rem;
						font-size: 0.8rem;
						transform: translateY(-50%);
						border: 2px solid transparent;
						transition: $mainTransition;
						pointer-events: none;
					}
				}

				button {
					background-color: #fffa;
					padding: 1rem;
					border: 2px solid $secondaryColor;
					transition: $mainTransition;
					outline: none;
					position: relative;
					z-index: 1;
					overflow: hidden;
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: space-between;

					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: -100%;
						width: 100%;
						height: 100%;
						background-color: $secondaryColor;
						z-index: -1;
						transition: $mainTransition;
					}

					&:hover::before,
					&:focus::before {
						left: 0;
					}

					&:hover,
					&:focus {
						$size: 5px;
						box-shadow: $size $size black;
						transform: translate(-$size, -$size);
						border-color: $mainColor;
					}
				}
			}
		}
	}
}
