footer {
	.top {
		background-color: $mainColor;

		.container {
			padding: 2rem 0;
			display: flex;
			color: white;
			flex-direction: column;
			align-items: center;
			gap: 2rem;

			.links {
				display: flex;
				align-items: center;
				gap: 1rem;

				a {
					border-radius: 50%;
					min-width: 50px;
					min-height: 50px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: $mainColor;
					background-color: $secondaryColor;
				}
			}

			nav {
				ul {
					display: flex;
					align-items: center;
					gap: 1rem;
					text-transform: uppercase;

					@include maxSm {
						flex-direction: column;
					}
				}
			}
		}
	}

	.bottom {
		background-color: $secondaryColor;
		padding: 1rem 0;

		.container {
			display: flex;
			align-items: center;
			justify-content: center;

			@include maxSm {
				flex-direction: column;
				gap: 1rem;
				text-align: center;
			}

			i {
				padding-inline: 0.5rem;
				color: red;
			}
		}
	}
}
