.landing {
	height: 100vh;
	padding: 2rem;
	padding-top: 100px;
	background-color: $secondaryColor + a;

	.slider {
		border: 5px solid white;
		display: flex;
		height: 100%;
		overflow: hidden;
		position: relative;

		img {
			min-width: 100vw;
			animation: slider 30s infinite;
			object-fit: cover;
		}
	}
}

@keyframes slider {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(0);
	}

	30% {
		transform: translateX(-100%);
	}

	55% {
		transform: translateX(-100%);
	}

	60% {
		transform: translateX(-200%);
	}

	90% {
		transform: translateX(-200%);
	}

	100% {
		transform: translateX(0);
	}
}
