.partenaires {
	background-color: white;

	.container {
		display: flex;
		flex-direction: column;
		gap: 4rem;

		.partenaires-container {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;

			img {
				width: 200px;

				@include maxSm {
					width: 50%;
				}
			}
		}
	}
}
