.presentation {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;

		.content {
			display: flex;
			align-items: center;
			padding: 0 2rem;

			@include maxSm {
				flex-direction: column;
				text-align: center;
				padding: 0;
				gap: 2rem;
			}

			.text {
				flex: 1;

				.title {
					margin-bottom: 2rem;
					border-bottom: 5px solid $secondaryColor;
					padding-bottom: 0.5rem;
					width: fit-content;

					@include maxSm {
						margin-inline: auto;
					}
				}

				p {
					text-indent: 1rem;

					&::first-letter {
						font-size: 2rem;
						padding-right: 0.5rem;
					}
				}
			}

			.illustration {
				flex: 1;
				display: flex;
				justify-content: end;

				img {
					max-width: 400px;
				}
			}
		}
	}
}
