.produits {
	background-color: $secondaryColor + a;

	.container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		align-items: center;

		.section-title {
			&::before,
			&::after {
				background-color: white;
			}
		}

		.categories {
			display: flex;
			align-items: center;
			gap: 1rem;
			flex-wrap: wrap;
			margin-bottom: 2rem;

			@include maxSm {
				.category {
					min-width: calc(50% - 0.5rem);
					text-align: center;
				}
			}

			.category {
				border-bottom: 2px solid;
				padding: 0.5rem;
				position: relative;
				overflow: hidden;
				cursor: pointer;
				transition: $mainTransition;

				&.active {
					background-color: white;
				}

				&:not(.active):hover {
					color: white;
				}
			}
		}

		.produits-container {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			width: 100%;
			gap: 1rem;

			.produit {
				border: 2px solid $mainColor;
				background-color: white;
				padding: 1rem;
				position: relative;
				overflow: hidden;

				&.hide {
					display: none;
				}

				.name {
					position: absolute;
					background-color: ($secondaryColor + a);
					font-weight: bold;
					left: 0;
					bottom: -100px;
					padding: 1rem;
					border-top: 2px solid $mainColor;
					width: 100%;
					text-align: center;
					transition: $mainTransition;
				}

				&:hover .name {
					bottom: 0;
				}
			}
		}
	}
}
